.header{
    background-color: black;
}

.header-inner{
    max-width: 1230px;
    height: 80px;
    
}

.header-logo{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 15px 100px;
}

