.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main-title-text{
    font-size: 25px;
}

.main-form-content{
    display: flex;
    align-items: flex-start;
    gap: 100px;
    margin: 50px 200px;
}

.main-form-content > label{
    width: 130px;
}

.main-form-button{
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-form-button > input{
    background-color: black;
    border: none;
    color: white;
    width: 100%;
    max-width: 200px;
    padding: 7px;
    cursor: pointer;
}

.main-form-button>input:hover{
    background-color: #333;
}